<html>

<head>
    <title>Video Meeting nam</title>
    <link href="~/css/Hone.css" rel="stylesheet" />
</head>

<body>
    <div class="navbar-brand">
        <div class="create-video"> <a href="CreateVideo" style="color: white">Create Video</a></div>
        <div class="create-video"> <a href="JoinVideo" style="color: white">join Video</a></div>
        <div class="create-video"> <a href="Call" style="color: white">List Room and Create Room</a></div>
        
    </div>
</body>

</html>