
@{
    Layout = null;
}
@model (int a, int b) ;
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>Video Meeting nam</title>
    <link href="~/css/room.css" rel="stylesheet" />
</head>
<body>
    <input type="text" id="txtroom" />
    <button id="btnCreateroom">Create</button>
    <ul id="messagesList"></ul>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/Createroom.js"></script>
</body>
</html>

